.main2{
    width: 1600px;
    margin: 0 ;
    background-color: rgb(150, 209, 236);
    
}

.p{
    color: white;
    font-size: 20px;
    text-align: left;
 
}
.ul{
    color: white;
    font-size: 20px;
    text-align: left;
}

.h1{
    text-align:left;
    font-weight:bold;
    padding-bottom:100px;
    font-size: 100px;

}

.h3{

    color: blue;
    font-size: 50px;
    text-align: center;

}

.h4{

    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;

}

.info2{
    padding-left: 170px;
}

.left2{
    grid-area: left;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left:50px;
}

.right2{
    grid-area: right;
    display: grid;
    align-content: center;
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 80px;
}

.intro-wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "left right"

}
.label{
    font-size: 30px;;
}

#about2{ 
   
    width:500px;
    border: 1.5px solid blue;
    padding: 10px;
    position: relative;
    background-color: rgb(88, 192, 211);
    

}

@media screen and (max-width:800px){
    .intro-wrapper2{
        grid-template-columns: 1fr;
        grid-template-areas:
        "left"
        "right";

    }
    .right2{
        justify-content: center;
    }
}


.movies2{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-area: 5px;
    justify-content:center;
    padding-bottom: 30px;
    padding-top:30px
}

.post2{
    border: none;
    
}
#paa{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#pab{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#pac{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#pad{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#pae{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}




.But2{
    padding-top: 50px;

    
}

