:root{
    --mainColor:rgb(150, 209, 236);
}

.top{
    background-color: var(--mainColor);
    border-bottom: 1px solid black;
    overflow: auto;
}


.main{
    width: 1200px;
    margin: 0 auto;
}

.welcome{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro{
    background-color:rgb(240, 204, 172);
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    grid-template-columns: 100fr 100fr;
    grid-template-areas:
        "navi-wrapper nav-wrapper"
        "left-column right-column"

}

.navi-wrapper{
    /*
    border-radius : 5px 5px 0 0;
    grid-area: navigation;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(194, 191, 191);
    */

    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

#nav{
    max-resolutiom:0;
    padding:10px;
}

#nav a{
    color:black;
}

.dots{
    display:flex;
    padding:10px;
}
/*
#profile{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid white;
    align-items: left;
}

.left-column{
    grid-area: left-column;
    align-content: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile{
    display: flex;
    margin: 0 auto;
    height: 500px;
    width: 200px;
    object-fit: cover;
    border: 2px solid white;
    align-items: left;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom:50px;
}
 
#preview-shadow{
    background-color: powderblue;
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;

}

*/

.left-column{
    grid-area: left-column;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom:50px;
}

.main2{
    width: 1600px;
    margin: 0 auto;
}

.middle{
   
    background-color: rgb(178, 169, 236);
    border-bottom: 1px solid none;
    overflow: auto;
    
}


.movies{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    grid-area: 5px;
    justify-content:center;
    padding-bottom: 30px;
    padding-top:30px
}

.post{
    border: none;
    
}

#p1{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#p2{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#p3{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

.bottom{
   
    background-color: rgb(139, 133, 173);
    border-bottom: 1px solid none;
    overflow: auto;
    
}

#p4{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#p5{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}

#p6{
    height:500px;
    width:400px;
    display: block;
    margin: 0 auto;
    
}