.body {
    background-color: rgb(240, 244, 255);
    margin-top: 50px;
}

.h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
  }

.producerTable {

  padding: 10px;
  margin-top: 15px;

}

.moviePoster {
  display: grid;
  width: 400;
  height: 400;
}

.carousel {
  text-align: center;
}

.reviewForm {
  text-align: left;
  width: 50%;
  margin-top: 50px;
}

.ratings {
  text-align: right;
  margin-left: 5px;
}

.modalText {
  color: black;
}